body{
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	background-image: url('../assets/images/tooplate_body.jpg');
	display: flex;
	justify-content: center;
	align-items: center;
}
#notebook{
	width: 954px;
	height: 753px;
	background-image: url('../assets/images/tooplate_content_bg.jpg');
}

#notebook .postit{
	position: relative;
}